<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>
<body>
  <section class="nav">
    <a href="/">
      <img src="https://cdn.shopify.com/s/files/1/0612/9388/7745/files/logo-white.svg?v=1637837600" alt="SUED logo" class="logo"></img>
    </a>
    <div class="nav-menu">
{% for collection in collections %}
<a href="{{collection.url}}" class="nav-menu-item">{{collection.title}}</a>
{% endfor %}
</div>
  </section>

<main role="main">
  {{ content_for_layout }}
</main>
</body>
</html>
