<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link
          rel="shortcut icon"
          href="https://cdn.shopify.com/s/files/1/0612/9388/7745/files/logo_black.ico?v=1638050325"
          type="image/x-icon"
          />
    {{ content_for_header }} <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}
    <script src="https://kit.fontawesome.com/5519270e52.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="/pages/size-guide">
      <div class="nav-alert">
        <span>Before placing your order, please check our guide on how to measure your wrist size.</span>
      </div>
    </a>
    <section class="nav">
      <a href="/" class="logo-container">
        <img src="https://cdn.shopify.com/s/files/1/0612/9388/7745/files/logo-white.svg?v=1637837600" alt="SUED logo" class="logo" />
      </a>
      <div class="hamburger-icon" onclick="openMobileNav()">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="nav-menu">
        {% for collection in linklists.collections-menu.links %}
        {% if collection.links != blank %}
        <div class="nav-menu-item-with-children">
          <a href="{{ collection.url }}">{{ collection.title }}</a>
          <div class="dropdown-container">
            {% for child in collection.links %}
            <a href="{{ child.url }}" class="nav-menu-child">{{ child.title }}</a>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <a href="{{collection.url}}" class="nav-menu-item">{{collection.title}}</a>
        {%- endif -%}
        {%- endfor -%}
      </nav>
      <nav class="mobile-nav-menu">
        {% for collection in linklists.collections-menu.links %}
        {% if collection.links != blank %}
        <div class="mobile-nav-menu-item-with-children">
          <a href="{{ collection.url }}">
            {{ collection.title }}
          </a>
          <div class="dropdown-icon" onclick="openNavChildren(event)">
            <i class="fas fa-caret-down"></i>
          </div>
        </div>

        <div class="mobile-nav-dropdown-container" id="{{ collection.title }}">
          {% for child in collection.links %}
          <a href="{{ child.link }}" class="mobile-nav-menu-child">{{ child.title }}</a>
          {% endfor %}
        </div>
        {% else %}
        <a href="{{ collection.url }}" class="mobile-nav-menu-item">{{ collection.title }}</a>
        {% endif %}
        {% endfor %}
      </nav>
    </section>
    <div class="body">
      <main role="main">
        {{ content_for_layout }}
      </main>
    </div>
  </body>
</html>


<!-- 
{%- for collection in linklists.collections-menu.links -%}
{%- if collection.links != blank -%}
<a href="{{collection.url}}" class="nav-menu-item">{{collection.title}}</a>
{%- for nest_collection in collection.links -%}
<a href="{{ nest_collection.url }}" class="nav-menu-item">{{ nest_collection.title }} </a>
{%- endfor -%}
{%- endif -%}
{%- endfor -%} -->