{{ attributes.units }}

{% if cart.item_count > 0 %}
<form action="/cart" method="post" novalidate>
  <section class="cart">
    <div>
      <h1 class="cart-heading">Shopping Cart</h1>
<!--       <p class="delivery-notice">
        Orders made from now up until <strong>December 11th</strong> will be shipped on <strong>December 17th,</strong> right in time for you to have your watch it by Christmas. Thank you for shopping with us.
      </p> -->
    </div>
    <div class="cart-table">
      <div class="cart-table-heading">
        <span class="cart-item-heading">ITEM</span>
        <span class="cart-quantity-heading">QUANTITY</span>
        <span class="cart-price-heading">PRICE</span>
      </div>
      {% for item in cart.items %}
      <div class="cart-table-entry">
        <div class="cart-item">
          <a
             href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
             class="remove-item"
             title="Remove Item"
             >
            <span>x</span>
          </a>
          <a class="cart-item-link" href="{{ item.url | within: collections.all }}">
            <img
                 class="cart-item-image"
                 src="{{ item | img_url: 'medium' }}"
                 alt="{{ item.title | escape }}"
                 height="100px"
                 width="100px"
                 />
            <div class="cart-item-name-variant-container">
              <span class="cart-item-name">{{ item.product.title }}</span>
              <span class="cart-item-variant">{{ item.variant.title }}</span>
            </div>
          </a>
        </div>
        <div class="cart-quantity">
          <input
                 class="cart-quantity-input"
                 type="number"
                 name="updates[]"
                 id="updates_{{ item.key }}"
                 value="{{ item.quantity }}"
                 min="0"
                 />
        </div>
        <span class="cart-price">{{ item.final_line_price | money }}</span>
      </div>
      {% endfor %}
      <div class="cart-subtotal-entry">
        <span class="cart-subtotal-name">Sub Total</span>
        <span class="cart-subtotal-price">{{ cart.original_total_price | money }}</span>
      </div>
      {% for discount_application in cart.discount_applications %}
      <div class="cart-discount-entry">
        <span class="cart-subtotal-name">{{ discount_application.title }}</span>
        {% if discount_application.value_type == "fixed_amount" %}
        <span class="cart-subtotal-price">{{ discount_application.value | money }}</span>
        {% else %}
        <span class="cart-subtotal-price">{{ discount_application.value }}%</span>
        {% endif %}
      </div>
      {% endfor %}
      <div class="cart-cart-total-entry">
        <span class="cart-subtotal-name">Cart Total</span>
        <span class="cart-subtotal-price">{{ cart.total_price | money }}</span>
      </div>
    </div>
    <div class="cart-action">
      <button class="update-cart" name="update" type="submit">REFRESH CART</button>
      <button class="cart-checkout" name="checkout" type="submit">CHECKOUT</button>
    </div>
  </section>
</form>
{% else %}
<div class="empty-cart">
  <h1 class="cart-heading">Shopping Cart</h1>
  <img
       src="https://cdn.shopify.com/s/files/1/0612/9388/7745/files/shopping-cart.png?v=1637918657"
       height="300px"
       width="300px"
       alt="Empty Shopping Cart."
       />
  <span>Oops! Looks like your cart is empty</span>
  <a href="/">
    <span>← Take me shopping</span>
  </a>
</div>
{% endif %}
