<section>
  <div class="collection-section-heading-container">
    <h2 class="section-heading">{{ collection.title }}</h2>
  </div>

  <div class="collection-description">
    {{ collection.description }}
  </div>
  <div class="product-grid">
    {% for product in collection.products %}
      <a class="product" href="{{ product.url }}">
        <div>
          <img
            src="{{ product | image_url }}"
            alt="Nomad Cuff Timepiece by Sued Watches"
            class="product-image"
            height="260"
            width="260"
            style="height:260px;width:260px;"
          >
          <div class="product-details">
            <p class="product-name">{{ product.title }}</p>
            <p class="product-price">
              <span style="text-decoration-line:line-through;margin-right:4px;">
                {{- product.price | divided_by: 100 -}}
              </span>
              {{- product.price | divided_by: 2 | money_with_currency }}
            </p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
