<section class="nav">
    <a href="/">
      <img src="https://cdn.shopify.com/s/files/1/0612/9388/7745/files/logo-white.svg?v=1637837600" alt="SUED logo" class="logo"></img>
    </a>
    <div class="nav-menu">
        {% for collection in collections %}
            <p class="nav-menu-item">{{collection.name}}</p>
        {% endfor %}
    </div>
</section>


<section class="product-grid">
  {% for product in collections.all-products.products %}
  
  	<a class="product" href="{{ product.url }}">
      <div>
        <img
             src="{{ product | image_url: width: 300 }}"
             alt="Nomad Cuff Timepiece by Sued Watches"
             class="product-image"
             height="300px"
             width="300px"
             />
        <div class="product-details">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ product.price | money_with_currency}}</p>
        </div>
      </div>
  	</a>
  
  {% endfor %}
  
</section>
