<section>
  {% for collection in collections %}
  <h2 class="section-heading">{{ collection.title }}</h2>
  {% endfor %}
</section>





<h2 class="section-heading">ALL PRODUCTS</h2>
<section class="product-grid">
  {% for product in collections.all-products.products %}
  	<a class="product" href="{{ product.url }}">
      <div>
        <img
             src="{{ product | image_url }}"
             alt="Nomad Cuff Timepiece by Sued Watches"
             class="product-image"
             />
        <div class="product-details">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ product.price | money_with_currency}}</p>
        </div>
      </div>
  	</a>
  {% endfor %}
  
</section>
