<div class="hero-container">
  <div class="about-us-container">
    <h1 class="section-heading">
      SUED Watches
    </h1>
    <div class="section-description">
      <p>50% OFF Jamhuri Day Discount on ALL Products</p>
      <p class="order-callout">Orders placed during the holiday season will be delivered on the 3rd Week of January</p>
    </div>
  </div>
</div>

<section>
  {% for link in linklists.collection-list.links %}
  {% if link.title != "All Products" %}
  <div class="section-heading-container">
    <a href="{{ link.url }}">
      <h2 class="section-heading">{{ link.title }}</h2>
    </a>
    <a href="{{ link.url }}">
      <div class="see-more">
        See more →
      </div>
    </a>
  </div>
  <div class="product-grid">
    {% for collection in collections %}
    {% if link.title == collection.title %}
    {% for product in collection.products limit:3 %}
    <a class="product" href="{{ product.url }}">
      <div>
        <img
             src="{{ product | image_url }}"
             alt="{{ product.image.alt }}"
             class="product-image"
             />
        <div class="product-details">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ product.price | money_with_currency}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>

  {% endif %}
  {% endfor %}
</section>
