<div class="hero-container">
  <div class="about-us-container">
    <h1 class="section-heading">
      SUED Watches
    </h1>
    <p class="section-description">
      SUED is a Made in Kenya watch brand founded in 2015.
      We locally hand craft uniquely-beautiful and statemental Timepieces for both your accessorizing needs and time value.
      <br />
      Promoting the rich African Culture and its contribution to civilization over time is at the heart of our brand.
      <!--       We locally hand craft uniquely-beautiful and statemental Timepieces for both
your accessorizing needs and time value. <br><br> Promoting the rich African Culture and
its contribution to civilization over time is at the heart of our brand. Our
Afrocentric in-house watches are each designed to blend the timeless factors of
culture and time as our gift to the world delivered in beadd baskets. -->
    </p>
  </div>
  <!--   <div class="size-guide-container">
<div class="size-guide-animation-container">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player
class="size-guide-animation"
src="https://assets7.lottiefiles.com/private_files/lf30_zx9gkkoy.json"
background="transparent"
speed="1"
loop
autoplay>
</lottie-player>  
</div>
<div class="size-guide-description">
<h2>How to measure your wrist size</h2>
<ol>
<li>Grab a tape measure or a paper/string and ruler.</li>
<li>Measure the smallest part of your wrist with no allowance. <strong><em>(Part A)</em></strong></li>
<li>Measure 4 inches or 10 centimeters from the smallest part of your wrist towards the elbow, with no allowance. <strong><em>(Part B)</em></strong></li>
</ol>
</div>
</div> -->
</div>

<section>
  {% for link in linklists.collection-list.links %}
  {% if link.title != "All Products" %}
  <div class="section-heading-container">
    <a href="{{ link.url }}">
      <h2 class="section-heading">{{ link.title }}</h2>
    </a>
    <!--     <a href="{{ link.url }}">
<span> See more → </span>
</a> -->
  </div>
  <div class="product-grid">
    {% for collection in collections %}
    {% if link.title == collection.title %}
    {% for product in collection.products limit:3 %}
    <a class="product" href="{{ product.url }}">
      <div>
        <img
             src="{{ product | image_url }}"
             alt="{{ product.image.alt }}"
             class="product-image"
             />
        <div class="product-details">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ product.price | money_with_currency}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</section>