{% assign current_variant = product.selected_or_first_available_variant %}

{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<a href="#">
  <p class="product-back">← Back to All Products</p>
</a>

<div class="product-product">
  <div class="product-product-images-container">
    <img class="product-featured-image" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" height="450px" width="450px" id="ProductPhotoImg" />
    <div class="product-product-images">
		{% for image in product.images %}
          <a href="{{ image.src | img_url: 'large' }}">
            <img class="product-product-image" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" width="60px">
          </a>
		{% endfor %}
    </div>
  </div>
  <div class="product-product-details-container">
    <h1 class="product-product-title">{{ product.title }}</h1>
    <p class="product-product-price">KSh6,000</p>
    <p class="product-product-details">{{ product.description }}</p>
    <div class="product-action-container">
      <div class="product-quantity">
        <p>Quantity</p>
        <input class="product-quantity-input" type="text" name="quantity" id="quantity">
      </div>
      <div class="product-cart-button">Add To Cart</div>
    </div>
  </div>
</div>











<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

  <select name="id" id="productSelect">
  
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    
    {% endfor %}

  </select>
  
  {{ current_variant.price | money }}
  
  <label for="Quantity">quantity</label>
  
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  
  <button type="submit" name="add" id="AddToCart">Add to cart</button>

</form>
