{% assign current_variant = product.selected_or_first_available_variant %}

{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<a href="/">
  <p class="product-back">← Back to All Products</p>
</a>

<div class="product-product">
  <div class="product-product-images-container">
    <img class="product-featured-image" src="{{ featured_image.src | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" height="450px" width="450px" id="ProductPhotoImg" />
    {% for featuredImage in product.images %}
    <img class="product-featured-image" src="{{ featuredImage.src | img_url: 'large' }}" alt="{{ featuredImage.alt | escape }}" height="450px" width="450px" style="display: none;" />
    {% endfor %}
    <div class="product-product-images">
      {% for image in product.images %}
      <a onClick="currentDiv({{ forloop.index }})">
        <img class="product-product-image" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" width="60px">
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="product-product-details-container">
    <h1 class="product-product-title">{{ product.title }}</h1>
    <p class="product-product-price" id="price">{{ current_variant.price | money }}</p>
    {{ product.description }}
    <form class="product-options-action-container" action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <div class="product-options">
        <div class="product-variant">
          <p>Choose Variant</p>
          <select class="product-variant-select" name="id" id="productSelect">
            {% for variant in product.variants %}
            {% if variant.available %}
            <option value="{{ variant.id }}">
              {{ variant.title }}:  {{ variant.price | money }}
            </option>
            {% else %}
            <option disabled="disabled">
              {{ variant.title }} - sold out
            </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="product-quantity">
          <label for="Quantity">Quantity</label>
          <input class="product-quantity-input" type="number" name="quantity" id="Quantity" value="1" min="1">
        </div>
      </div>
      <button type="submit" name="add" id="AddToCart" class="product-action">Add To Cart</button>
    </form>
  </div>
</div>











